fastapi==0.85.0
imageio==2.22.0
joblib==1.2.0
keras==2.10.0
Keras-Preprocessing==1.1.2
lockfile==0.12.2
logilab-common==1.4.3
mtcnn==0.1.1
numpy==1.23.3
opencv-python==4.6.0.66
Pillow==7.0.0
pydantic==1.10.2
python-multipart==0.0.5
requests==2.22.0
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
sklearn==0.0
systemd-python==234
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
tensorly==0.7.0
uvicorn==0.18.3
