fastapi
imageio
joblib
keras
Keras-Preprocessing
lockfile
logilab-common
mtcnn
numpy
opencv-python
Pillow
pydantic
python-multipart
requests
scikit-image
scikit-learn
scipy
sklearn
systemd-python
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorly
